<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>woodwhales-code-generator</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/mycss.css}" >
</head>
<body>
<div class="layui-container">
    <div class="layui-header">
        <div class="layui-logo">woodwhales-code-generator</div>
    </div>
    <div class="layui-row">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>添加模板配置 - 导航栏配置</legend>
        </fieldset>
    </div>
    <div class="layui-row">
        <a th:href="@{/}" class="layui-btn layui-bg-gray layui-btn layui-btn-xs">返回</a>
    </div>
    <div class="layui-row">
        <form class="layui-form" action="">
            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>基础配置信息</legend>
            </fieldset>
            <div class="layui-form-item">
                <label class="layui-form-label">配置名称</label>
                <div class="layui-input-block">
                    <input type="text" name="configName" id="configName" lay-verify="required" autocomplete="off" placeholder="请输入配置名称" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">配置备注</label>
                <div class="layui-input-block">
                    <textarea name="description" id="description" placeholder="请输入配置备注" class="layui-textarea"></textarea>
                </div>
            </div>

            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
                <legend>菜单项配置</legend>
            </fieldset>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <div class="layui-row">
                        <div class="layui-col-md2">数据库表名</div>
                        <div class="layui-col-md3">cite名称</div>
                        <div class="layui-col-md3">tab名称</div>
                        <div class="layui-col-md2">tab链接</div>
                        <div class="layui-col-md2">tab排序</div>
                    </div>
                </div>
                <div class="layui-input-block" th:each="tableInfo, tableInfoStat : ${tableInfos}">
                    <div class="layui-row">
                        <div class="layui-col-md3">
                            <input type="checkbox" name="tableName" lay-skin="primary" th:title="${tableInfo.name}" th:value="${tableInfo.name}">
                        </div>
                        <div class="layui-col-md3">
                            <input type="text" autocomplete="off" th:id="'citeName_'+${tableInfo.name}" class="layui-input" placeholder="请输入cite名称"
                                  th:value="${tableInfo.dbName}" >
                        </div>
                        <div class="layui-col-md3">
                            <input type="text" autocomplete="off" th:id="'tabTitle_'+${tableInfo.name}" class="layui-input" placeholder="请输入tab名称"
                                   th:value="${tableInfo.comment}">
                        </div>
                        <div class="layui-col-md2">
                            <input type="text" autocomplete="off" th:id="'tabUrl_'+${tableInfo.name}" class="layui-input" placeholder="请输入tab链接"
                                   th:value="'/' + ${#strings.unCapitalize(tableInfo.name)} + '/list/'">
                        </div>
                        <div class="layui-col-md1">
                            <input type="text" autocomplete="off" th:id="'tabSort_'+${tableInfo.name}" class="layui-input" placeholder="请输入tab sort" th:value="${tableInfoStat.count}">
                        </div>
                    </div>
                </div>
                <div class="layui-input-block">
                    <div class="layui-row">
                        <div class="layui-col-md6">
                            <a class="layui-btn layui-btn-normal layui-btn-fluid layui-btn-sm" id="selectAllBtn">全选</a>
                        </div>
                        <div class="layui-col-md6">
                            <a class="layui-btn layui-btn-danger layui-btn-fluid layui-btn-sm" id="unSelectAllBtn">反选</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="layui-form-item">
                <div class="layui-input-block">
                    <button type="submit" class="layui-btn" lay-submit="" lay-filter="submitBtn">创建</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>
    <div class="layui-row" style="height: 44px; background-color: #009688; line-height: 44px; color: #FFF; margin-bottom: 30px; border-radius: 2px;">
        &nbsp;&nbsp;&nbsp;&nbsp;© <a href="https://woodwhales.cn/" style="color: #FFF;" target="_blank">woodwhales.cn</a> - woodwhales's blog
    </div>
</div>
</body>
<script th:src="@{/webjars/layui/layui.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:inline="none">
    layui.use(['form', 'layer', 'table', 'layedit', 'util'], function(){
        var form = layui.form,
            layer = layui.layer,
            util = layui.util,
            table = layui.table;

        let postBody = {};
        form.on('submit(submitBtn)', function(data) {
            if($('[name="tableName"]:checked').length == 0) {
                layer.msg("请选择至少一条菜单配置");
                return false;
            }

            let navigationConfig = new Array();
            postBody.configName = data.field.configName;
            postBody.description = data.field.description;

            let navigationConfigItem = {};
            $('[name="tableName"]:checked').each(function() {
                let tableName = $(this).val();
                let tab = {};
                tab.addTabTitle = $("#citeName_"+tableName).val();
                tab.addTabUrl = $("#tabUrl_"+tableName).val();
                navigationConfigItem.tab = tab;

                let cite = {};
                cite.name = $("#citeName_"+tableName).val();
                navigationConfigItem.cite = cite;

                navigationConfigItem.sort = $("#tabSort_"+tableName).val();
                navigationConfig.push(navigationConfigItem);
            });

            postBody.navigationConfig = navigationConfig;

            console.log(JSON.stringify(postBody));

            $.ajax({
                url:'/plugin/codeNavigationConfig/create/',
                type:'post',
                dataType:'json',
                contentType:"application/json",
                async:true,
                cache:false,
                data:JSON.stringify(postBody),
                success:function(res) {
                    if(res.code === 0) {
                        layer.msg('操作成功', {icon: 1});
                    } else {
                        layer.msg('操作失败，异常原因：' + res.msg, {icon: 5});
                    }
                },
                error:function(res) {
                    layer.msg('网络异常', {icon: 5});
                }
            });

            return false;
        });
    });
</script>
</html>