<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>woodwhales-code-generator</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/mycss.css}" >
</head>
<body>
<div class="layui-container">
    <div class="layui-header">
        <div class="layui-logo">woodwhales-code-generator</div>
    </div>
    <div class="layui-row">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>配置信息详情</legend>
        </fieldset>
    </div>
    <div class="layui-row">
        <a th:href="@{../}" class="layui-btn layui-bg-gray layui-btn layui-btn-xs">返回</a>
    </div>
    <div class="layui-row">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>菜单信息</legend>
        </fieldset>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">配置名称</label>
        <div class="layui-form-mid layui-word-aux" th:text="${codeTemplateConfig.codeNavigationConfig.configName}"></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">配置备注</label>
        <div class="layui-form-mid layui-word-aux" th:text="${codeTemplateConfig.codeNavigationConfig.description}"></div>
    </div>
    <div class="layui-row">
        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 20px;">
            <legend>列表信息</legend>
        </fieldset>
    </div>
    <div class="layui-collapse">
        <div class="layui-colla-item" th:each="codeListPageConfig : ${codeTemplateConfig.codeListPageConfigList}">
            <h2 class="layui-colla-title" th:text="${codeListPageConfig.configName}"></h2>
            <div class="layui-colla-content" th:text="${codeListPageConfig.configContent}"></div>
        </div>
    </div>
    <div class="layui-row">
        <div class="layui-form-item">
            <label class="layui-form-label"></label>
            <div class="layui-form-mid layui-word-aux"></div>
        </div>
    </div>
    <div class="layui-row" style="height: 44px; background-color: #009688; line-height: 44px; color: #FFF; margin-bottom: 30px; border-radius: 2px;">
        &nbsp;&nbsp;&nbsp;&nbsp;© <a href="https://woodwhales.cn/" style="color: #FFF;" target="_blank">woodwhales.cn</a> - woodwhales's blog
    </div>
</div>
</body>
<script th:src="@{/webjars/layui/layui.js}"></script>
<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script type="text/javascript" th:inline="none">
    layui.use(['element', 'layer'], function(){
        var table = layui.table,
            element = layui.element;

    });
</script>
</html>