<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>woodwhales-code-generator</title>
    <link rel="stylesheet" th:href="@{/webjars/layui/css/layui.css}" media="all">
    <link rel="stylesheet" th:href="@{/css/mycss.css}" >
</head>
<body>
<form class="layui-form" action="">
<div class="layui-form-item">
    <div class="layui-form-item layui-form-text">
        <textarea placeholder="请输入内容" class="layui-textarea" th:text="${tips}" readonly="readonly" style="height: 450px;"></textarea>
    </div>
</div>
</form>
</body>
<script type="text/javascript" th:inline="none">
    $("textarea").on("keyup keydown", function(){
        $(this).height(this.scrollHeight);
    })
</script>
</html>